<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

<!--  START
(SETTINGS REMOVED)
(these still exist in code but need updating to be usable)
<category label="Providers">
        <setting label="Lambda Scrapers Default Providers" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=Defaults&amp;setting=true&amp;open_id='1.2')"/>
        <setting label="Disable All Foreign Providers" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAllForeign&amp;setting=false&amp;open_id='1.1')"/>
        <setting label="Enable All Foreign Providers" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAllForeign&amp;setting=true&amp;open_id='1.2')"/>
        <setting label="Disable All Debrid Providers" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAllDebrid&amp;setting=false&amp;open_id='1.1')"/>
        <setting label="Enable All Debrid Providers" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAllDebrid&amp;setting=true&amp;open_id='1.2')"/>
        <setting label="Disable All Torrent Providers" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAllTorrent&amp;setting=false&amp;open_id='1.1')"/>
        <setting label="Enable All Torrent Providers" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAllTorrent&amp;setting=true&amp;open_id='1.2')"/>

END  -->

    <category label="Provider Settings">
        <setting type="sep" />
        <setting id="module.vers" label="version check" type="text" default="" visible="false" />
        <setting id="bypass.limit" type="bool" label="Bypass all scraper Provider settings" default="true" />
        <setting id="sources.dont.filter" type="bool" label="Show maximum results (no filtering/limits)" default="false" />
        <setting id="module.provider" label="Choose Scraper set" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=ScraperChoice)" default=" Lambdascrapers" />
        <setting label="Toggle current set:" type="lsep" />
        <setting label="  Enable all Scrapers (for current Scraper set)" type="action" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=ToggleProviderAll&amp;action=EnableModuleAll)" option="close"/>
        <setting label=" Disable all Scrapers (for current Scraper set)" type="action" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=ToggleProviderAll&amp;action=DisableModuleAll)" option="close"/>
        <setting label="Toggle all Scraper sets:" type="lsep" />
        <setting label="  Enable all Scrapers" type="action" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAll&amp;setting=true&amp;open_id=0.1)" option="close"/>
        <setting label=" Disable all Scrapers" type="action" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAll&amp;setting=false&amp;open_id=0.1)" option="close"/>
        <setting type="sep" />
    </category>

    <category label="PREMIUM ONLY">
        <setting label="Debrid only" type="lsep" />
    </category>

    <category label="QuickScrapers">
        <setting label="Quick (Checked)" type="lsep" />
        <setting label="Quick (unchecked)" type="lsep" />
        <setting id="module.lasthope" type="bool" label="Include additional sources" default="false" />
    </category>

    <category label="ScrubsScrapers">
        <setting label="Scrubs (en)" type="lsep" />
    </category>

    <category label="Debug">
        <setting id="addon_debug" type="bool" label="Enable Debug" default="false" />
    </category>

</settings>
